version: '3.8'

services:
  app:
    build: 
      context: ./app
      dockerfile: Dockerfile 
    depends_on:
      - database
    env_file:
      - ./app/.env
    ports:
      - "3000:3000"
    volumes:
     - .:/app:/usr/app
  database:
    image: postgres
    container_name: postgres
    env_file:
      - ./app/.env
    environment:
      - POSTGRES_DB=prova
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    volumes:
      - ./database_init.sql:/docker-entrypoint-initdb.d/database_init.sql
